@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 1vmax;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.align-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 70vw;
    height: fit-content;
    margin: 5vh auto;
    display: flex;
}

.custom-btn {
    display: block;
    border: darkcyan 1px solid;
    outline-width: 0px;
    background-color: white;
    border-radius: .5rem;
    padding-left: 3px;
    padding-right: 3px;
}

.custom-input {
    border: darkcyan 1px solid;
    border-radius: .5rem;
    color: darkcyan !important;
}

.custom-input:focus {
    color: darkcyan;
    background-color: white;
    border-color: darkcyan;
    outline: none;
    box-shadow: none;
}

::placeholder {
    color: darkcyan !important;
    opacity: .5 !important;
}

.custom-btn:disabled {
    background-color: #f1f1f1;
    color: darkcyan;
}

.custom-btn:hover:enabled {
    background-color: #eef8ef;
    color: darkcyan;
}

.custom-btn:active {
    background-color: #e2ffe4;
    color: darkcyan;
}

.fs-sm {
    font-size: 1.3rem;
    color: darkcyan;
}

.fs-md {
    font-size: 1.6rem;
    color: darkcyan;
}

.fs-big {
    font-size: 2.1rem;
    color: darkcyan;
}

.color-darkcyan {
    color: darkcyan !important;
}