@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Brygada 1918', serif;
}

a {
    text-decoration: none;
    color: black;
}

.text-center {
    text-align: center;
}

.align-center {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.align-h-center {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

.align-v-center {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.root-container {
    width: 100vw;
    height: fit-content;
    margin: 5vh auto;
    display: flex;
}

.left-container {
    width: 5%;
    display: inherit;
}

.center-container {
    width: 90%;
    display: inherit;
}

.right-container {
    width: 5%;
    display: inherit;
}

.custom-btn {
    display: block;
    width: fit-content;
    border: darkcyan 1px solid;
    outline-width: 0px;
    background-color: white;
    border-radius: .5rem;
    padding: 4px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, .2);
}

.custom-input {
    border: darkcyan 1px solid;
    padding: 1px 0 0 4px;
    border-radius: .5rem;
    color: darkcyan !important;
}

.custom-input:focus {
    color: darkcyan;
    background-color: white;
    border-color: darkcyan;
    outline: none;
    box-shadow: none;
}

::placeholder {
    color: darkcyan !important;
    opacity: .5 !important;
}

.custom-btn:disabled {
    background-color: #f1f1f1;
    color: darkcyan;
}

.custom-border {
    border: 1px solid darkcyan;
    border-radius: .5rem;
    border-color: darkcyan;
}

.custom-btn:hover:enabled {
    background-color: #f7f7e2;
    color: darkcyan;
}

.custom-btn:active {
    background-color: #e2ffe4;
    color: darkcyan;
}

.fs-sm {
    font-size: 1.3rem;
}

.fs-md {
    font-size: 1.6rem;
}

.fs-big {
    font-size: 2.1rem;
}

.darkcyan {
    color: darkcyan !important;
}

/* main application section  */

.flip-container {
    border: 1px solid darkcyan;
    border-radius: .5rem;
}

.flip-container, .front, .back {
    width: 18rem;
    height: 18rem;
}

/* flip animation section  */

/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */

.flip-container.flpping .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front, .back {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}