* {
    box-sizing: border-box;
}

html {
    font-size: 1vmax;
}

h2 {
    text-align: center;
}

.container {
    width: 70vw;
    height: fit-content;
    margin: 5vh auto;
    display: flex;
}

.popup {
    display: none;
    width: 35vw;
    height: fit-content;
    margin: 0 auto;
    border-radius: .5rem;
    border: darkcyan 1px solid;
    background-color: white;
}

.popup-title {
    padding-top: 1%;
    text-align: center;
}

.yesno-pair {
    display: flex;
    justify-content: center;
}

.yesno-btn {
    height: 30px;
    width: 15%;
}

.func-block {
    width: 50%;
}

.deco-block {
    width: 25%;
    background-color: white;
    border-radius: .5rem;
    border: darkcyan 1px solid;
}

.custom-btn {
    border: darkcyan 1px solid;
    outline-width: 0px;
    background-color: white;
    border-radius: .5rem;
    padding-left: 3px;
    padding-right: 3px;
}

.custom-btn:disabled {
    background-color: #f1f1f1;
}

.custom-btn:hover:enabled {
    background-color: #eef8ef;
}

.custom-btn:active {
    background-color: #e2ffe4;
}

.custom-input {
    border: darkcyan 1px solid;
    border-radius: .5rem;
    padding-left: .5rem;
}

.custom-input:focus {
    outline-width: 0px;
}

.input-btn-pair {
    display: flex;
    width: 100%;
}

.add-btn {
    width: 10%;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
}

.add-input {
    width: 90%;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 1%;
}

.task-pair {
    display: flex;
    height: fit-content;
    border: darkcyan 1px solid;
    border-radius: .5rem;
    background-color: white;
}

.index {
    width: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
}

.task {
    width: 80%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.remove-btn {
    width: 100%;
    height: fit-content;
    padding-top: 10%;
    padding-bottom: 10%;
}

.align-center {
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fs-sm {
    font-size: 1.3rem;
    color: darkcyan;
}

.fs-md {
    font-size: 1.6rem;
    color: darkcyan;
}

.mr-1 {
    margin-right: 2px;
}

.mr-2 {
    margin-right: 4px;
}

.mr-3 {
    margin-right: 6px;
}

.mr-4 {
    margin-right: 8px;
}

.mr-5 {
    margin-right: 10px;
}

.mb-1 {
    margin-bottom: 2px;
}

.mb-2 {
    margin-bottom: 4px;
}